@media (min-width: 700px) {
	.main {
		display: flex;
		flex-direction: row;
		//border: 1px solid blue;
		//justify-content: flex-start;
	}
}

h2 {
	font-weight: normal;
}
.logoContainer {
	text-align: center;

	.logo {
		max-width: 50px;
		display: inline;
		padding: .8rem;
	}
}

.izquierda {
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
	flex: -1;
	//margin: auto;
	margin: 0 auto;
	padding: 0.5rem;
	align-self: start;
	//border: 1px solid green;

	.img {
		border-radius: 100%;
		width: 10rem;
		padding: 1rem;
	}
	.imagen {
		justify-content: center;
		flex-direction: column;
		align-self: center;
		width: 12rem;
		padding: 1rem;
		//border: 1px solid pink;
	}
	.texto {
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: center;
		padding-top: 1rem;
	}

	.iconos {
		flex-direction: column;
		float: left;

		p {
			padding: 0rem 1rem 0;
			display: inline-block;
		}
	}
}

.derecha {
	padding: 1.4rem;
	padding-top: 0;
	flex-direction: row;
	flex: 2;
	font-size: 1.1rem;
	text-align: justify;
	margin: auto;
	//border: 1px solid blue;
}

.social {
	font-size: 1.4rem;
	color: black;
	padding: 0 1rem;
}

.social:hover {
	color: cornflowerblue;
}

.social-container {
	text-align: center;
}

@media (max-width: 1050px) {
	.derecha {
		font-size: 1rem;
	}

	.social {
		font-size: 1rem;
	}

	.iconos {
		font-size: .8rem;
	}
}

@media (max-width: 900px) {
	h2 {
		text-align: center;
	}

	.iconos {
		font-size: .8rem;
	}
}

@media (max-width: 400px) {
	.iconos {
		font-size: .6rem;
	}
}

@media (max-width: 550px) {
	.derecha {
		font-size: .875rem;
	}

	.social {
		font-size: .875rem;
	}
}
