body {
	margin: 0;
	background-color: #fbfbfb;
}
hr {
	color: black;
	margin-top: 2rem;
}
h1 {
	font-size: 5rem;
	margin: 0 0 1rem 0;
	font-family: 'Open Sans', sans-serif;
}

.attr {
	font-family: 'Anonymous Pro', monospace;
	background-color: #c3f8ff;
	font-size: 1.2rem;
	margin: 0 .5rem 0 .5rem;
}

.attr:hover {
	background-color: transparent;
}

.attr-link {
	font-family: 'Anonymous Pro', monospace;
	// background-color: #C3F8FF;
	list-style: none;
	font-size: 1.2rem;
	margin: 0 .3rem 0 .3rem;
}

.attr-link:hover {
	background-color: rgba(255, 99, 71, 0.644);
}

.icons {
	padding: 1rem;
	a {
		color: black;
		&:visited {
			color: black;
		}
	}
	.fab {
		-webkit-transition: -webkit-transform .2s ease-in-out;
		transition: transform .2s ease-in-out;

		&:hover {
			-webkit-transform: rotate(30deg);
			transform: rotate(30deg);
		}
	}
}

i {
	font-size: 1.6rem;
	padding: 1rem;
}

.header-main {
	padding: 2rem 20rem 2rem 20rem;
	text-align: center;
}

.content-main {
	//padding: 2rem 20rem 5rem 20rem;
	padding: 2rem 15rem 5rem 15rem;
}

.pages-link {
	padding: 0 2rem 0 2rem;
	margin-bottom: 1rem;

	a {
		padding: 0 1rem 1rem 1rem;
	}
}

@media (max-width: 1400px) {
	.header-main {
		padding: 0;
	}

	.content-main {
		padding: 2rem 4rem 5rem;
	}
}

@media (max-width: 650px) {
	.header-main {
		padding: 0;
	}

	.content-main {
		padding-bottom: 5rem;
	}
}

.nodecor {
	text-decoration: none;
	color: black;
	&:hover {
		color: cornflowerblue;
	}
}

// =======================================

/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);

//$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-url: "../images/grid.png";
$bg-width: 50px;
$bg-height: 50px;

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
	100% {
		background-position: $bg-width $bg-height;
	}
}
@-moz-keyframes bg-scrolling-reverse {
	100% {
		background-position: $bg-width $bg-height;
	}
}
@-o-keyframes bg-scrolling-reverse {
	100% {
		background-position: $bg-width $bg-height;
	}
}
@keyframes bg-scrolling-reverse {
	100% {
		background-position: $bg-width $bg-height;
	}
}

@-webkit-keyframes bg-scrolling {
	0% {
		background-position: $bg-width $bg-height;
	}
}
@-moz-keyframes bg-scrolling {
	0% {
		background-position: $bg-width $bg-height;
	}
}
@-o-keyframes bg-scrolling {
	0% {
		background-position: $bg-width $bg-height;
	}
}
@keyframes bg-scrolling {
	0% {
		background-position: $bg-width $bg-height;
	}
}

/* Main styles */
body {
	background: url($bg-url) repeat 0 0;

	-webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
	-moz-animation: bg-scrolling-reverse .92s infinite; /* Fx 5+ */
	-o-animation: bg-scrolling-reverse .92s infinite; /* Opera 12+ */
	animation: bg-scrolling-reverse .92s infinite; /* IE 10+ */
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}
